%html
  %head
    %title /#{@board_id}/
    %meta{ charset: "utf-8" }
    %link{ type: "text/css", rel: "stylesheet", href: "/style.css" }
    /%script{ type: "text/javascript",
    /  src: "https://raw.githubusercontent.com/flouthoc/minAjax.js/master/index.js" }
    %script{ type: "text/javascript", src: "/script.js" }
  %body#top
    %nav#navbar
      [
      %a{ href: "/" } Home
      - @boards.each do |board|
        \/
        %a{ href: "/#{board}/" }= board
      ]
    %header
      %img#banner{ src: "/#{@banner}" }
      %h1#title= "/#{@board_id}/ - #{@board_name}"
    %hr
    %form#form{ action: "/api/#{@board_id}/#{@thread_id}",
      method: "POST",
      enctype: "multipart/form-data" }
      %input#name{ type: "text", placeholder: "Anonymous",
        value: "Anonymous", name: "name" }<
      %input#button{ type: "submit", value: "Post" }
      %textarea#body{ placeholder: "Comment", name: "body" }
      %br
      %input#file{ type: "file", name: "file",
        accept: "image/jpeg, image/png, image/gif, video/webm" }<
      %label#sage{ for: "sagebox"} sage
      %input#sagebox{ type: "checkbox", name: "sage" }>
      /%input#board{ type: "hidden", name: "board", value: @board_id }
      /%input#thread{ type: "hidden", name: "thread", value: @thread_id }
    %hr
    #catalog
      /- @threads.each do |thread|
      /  .thread

