<!DOCTYPE html>
<html>
  <head>
    <title><%= "/#{@info["board"]}/ - #{@info["name"]}" %></title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>
  </head>
  <body>
    <nav id="navbar">
      [ <a href="/">Home</a><% @board_list.each do |board| %> / <a href="/<%= board %>/"><%= board %></a><% end %> ]
    </nav>
    <header>
      <img id="banner" src="/<%= @banner %>">
      <h1><%= "/#{@info["board"]}/ - #{@info["name"]}" %></h1>
      <a href="/update">Update</a>
    </header><br>
    <%= @content %>
    <hr>
    <form id="form" action="/post" method="POST" enctype="multipart/form-data">
      <input id="name" type="text" placeholder="Anonymous" value="Anonymous" name="name"><input id="button" type="submit" value="Post"><br>
      <textarea id="body" placeholder="Comment" name="body"></textarea><br>
      <input id="file" type="file" name="file" accept="image/jpeg, image/png, image/gif, video/webm"><label id="sage" for="sagebox">sage</label><input type="checkbox" id="sagebox" name="sage">
      <input type="hidden" name="board" value="<%= @info["board"] %>">
      <input type="hidden" name="thread" value="<%= @no %>">
    </form>
  </body>
</html>
