= haml :form, locals: {id: @board[:id], page: 0}
%hr
#catalog
  - if @threads
    - @threads.each do |thread|
      .thread
        - file = eval thread[:file]
        %figure<
          %a{ href: "/#{@board[:id]}/thread/#{thread[:id]}" }<
            %img{ src: "/thumb/#{file[:thumb]}" }
        .info= elapsed thread[:updated]
        .desc<
          %span.subject<= thread[:subject]
          - unless thread[:body].empty?
            %span.body= " - " + thread[:body]
