%html
  %head
    %title= $website_name
    %meta{ charset: "utf-8" }
    %link{ type: "text/css", rel: "stylesheet", href: "/style.css" }
  %body#front
    %header
      #greeting= "#{greeting}, brother."
      %br Welcome to the
      %h1= $website_name
    %ul#boards
      - boards.each do |board|
        %li
          %a{ href: "/#{board[:id]}/" }<= "#{board[:name]}"
    %footer#powered
      Powered by
      %a{ href: "https://github.com/steinuil/negoto" } Negoto
