%html
  %head
    %title= $config[:name]
    %meta{ charset: "utf-8" }
    %link{ type: "text/css", rel: "stylesheet", href: "/front.css" }
    %link{ type: "image/x-icon", rel: "icon", href: "/favicon.ico" }
    %script{ type: "text/javascript", src: "/front.js" }
  %body#front
    #container
      %header
        #greeting= "Good #{greeting.capitalize}, Brother."
        #rotate
          = File.read "public/shuko.svg" if File.exist? "public/shuko.svg"
        Welcome To The
        %h1= $config[:name] + "."
      %ul#boards
        - boards.each do |board|
          %li
            %a{ href: "/#{board[:id]}/" }<= "#{board[:name]}"
      %footer#powered
        Powered by
        %a{ href: "https://github.com/steinuil/negoto" } Negoto
