<!DOCTYPE html>
<html>
  <head>
    <title><%= "/#{@info["board"]}/ - #{@info["name"]}" %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <img id="banner" src="/<%= @banner %>"></img>
      <h1><%= "/#{@info["board"]}/ - #{@info["name"]}" %></h1>
      <a href="/update">Update</a>
    </header><br>
    <%= @content %>
    <br>
    <form action="/post" method="POST">
      <table id="postForm">
        <tr>
          <td id="formName"><input type="text" size="15" placeholder="Anonymous" value="Anonymous" name="name"></td>
          <td id="formButton"><input type="submit" value="Post"><br></td>
        </tr><tr>
          <td id="formText"><textarea rows="4" cols="40" placeholder="Comment" name="body"></textarea><br></td>
        </tr><tr>
          <td id="formFile"><input type="file" name="file" accept="image/jpeg, image/png, image/gif, video/webm"></td>
          <td id="formSage"><label for="sage">sage</label><input type="checkbox" id="sage" name="sage"></td>
        </tr>
      </table>
      <input type="hidden" name="board" value="<%= @info["board"] %>">
      <input type="hidden" name="thread" value="<%= @no %>">
    </form>
  </body>
</html>
