%html
  %head
    %title= title
    %meta{ charset: 'utf-8' }
    %link{ type: 'image/x-icon', rel: 'icon', href: '/favicon.ico' }
    %link{ type: 'text/css', rel: 'stylesheet', href: '' }
    %script{ type: 'application/javascript', src: '' }
  %body
    %header
      %nav
        [
        %a{ href: '/'} Home
        - boards.each do |board|
          \/
          %a{ href: "/#{board[:id]}/",
              title: "#{board[:name]}" }= board[:id]
        ] [
        %a{ href: '/about' } about
        \/
        %a{ href: 'https://github.com/steinuil/negoto' } source
        ]
      %img#crest{ src: "/#{crest}", height: 100, width: 300 }
      %h1#title= title
    %hr
    = yield
