<!DOCTYPE html>
<html>
  <head>
    <title><%= "/#{@info["board"]}/ - #{@info["name"]}" %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <img id="banner" src="/<%= @banner %>"></img>
      <h1><%= "/#{@info["board"]}/ - #{@info["name"]}" %></h1>
      <a href="/update">Update</a>
    </header><br>
    <%= @content %>
    <hr>
    <form id="post_form" action="/post" method="POST" enctype="multipart/form-data">
      <input id="post_name" type="text" placeholder="Anonymous" value="Anonymous" name="name"><input id="post_button" type="submit" value="Post"><br>
      <textarea id="post_body" placeholder="Comment" name="body"></textarea><br>
      <input id="post_file" type="file" name="file" accept="image/jpeg, image/png, image/gif, video/webm"><label id="post_sage" for="sage">sage</label><input type="checkbox" id="sage" name="sage">
      <input type="hidden" name="board" value="<%= @info["board"] %>">
      <input type="hidden" name="thread" value="<%= @no %>">
    </form>
  </body>
</html>
