<% @threads.each do |thread|; op = thread['op'] %><div class="thread" id="t<% op['no'] %>">
  <div class="post op" id="<%= op['no'] %>">
    <div class="info"><b><%= op['name'] %></b> <%= op['time'].strftime("%Y/%m/%d %H:%M:%S") %> <a href="/thread/<%= op['no'] %>">&#8470;</a><span onclick="quote(<%= op['no'] %>)"><%= op['no'] %></span> [<a href="/thread/<%= op['no'] %>">Reply</a>]</div>
    <hr>
    <figure><img src="<%= "/src/#{op['file']['src']}" %>"><figcaption class="caption"><%= op['file']['filename'] %></figcaption></figure>
    <div class="body"><p><%= op['body'] %></p></div>
  </div>
  <% postc = thread['posts'].count %><%= "<div class=\"omitted\">#{postc - 5} posts omitted, click Reply to view.</div>" if postc > 5 %>
  <% thread['posts'].last(5).each do |post| %><div class="post reply" id="<%= post['no'] %>">
    <%= "<figure><img src=\"/src/#{post['file']['src']}\"><figcaption class=\"caption\">#{post['file']['filename']}</figcaption></figure>" if post['file'] != nil and post['file'] != "" %>
    <div class="info"><b><%= post['name'] %></b> <%= post['time'].strftime("%Y/%m/%d %H:%M:%S") %> <a href="/thread/<%= "#{op['no']}##{post['no']}" %>">&#8470;</a><span onclick="quote(<%= post['no'] %>);"><%= post['no'] %></span></div>
    <hr>
    <div class="body"><p><%= post['body'] %></p></div>
  </div><% end %>
</div><% end %>
<hr>
