<% @threads.each do |thread|; @op = thread["op"] %><div class="thread" id="t<%= @op["no"] %>">
  <div class="op" id="p<%= @op ["no"] %>">
    <div class="postInfo"><b><%= @op["name"] %></b> <%= @op["time"] %> &#8470;<%= @op["no"] %> [<a href="/thread/<%= @op["no"] %>">Reply</a>]</div>
    <div class="postBody"><p><%= @op["body"] %></p></div>
  </div>
  <% thread["posts"].each do |post| %>
  <div class="post" id="p<%= post["no"] %>">
    <div class="postInfo"><b><%= post["name"] %></b> <%= post["time"] %> &#8470;<%= post["no"] %></div>
    <div class="postBody"><p><%= post["body"] %></p></div>
  </div><% end %>
</div><% end %>
