#thread
  #thread-bar
    %a#return{ href: "/#{board.id}/" }= "â¬â¬"
    %span#subject= op[:subject]
    - if op[:locked]
      %span#locked{ title: 'Thread locked. You may not reply.' } ðŸ”’
  .post.op
    .info
      = succeed "&#x000A;" do
        %span.name= op[:name]
        %span.time= op[:time].strftime("%Y/%m/%d %H:%M")
      %a.id{ href: url }> &#8470;
      %a.id.postnum{ onclick: "quote(#{op[:id]});" }= op[:id]
    %hr
    %figure
      %a{ href: "/src/#{op[:file][:src]}" , target: '_blank' }<
        %img{ src: "/thumb/#{op[:file][:thumb]}", title: op[:file][:name],
          width: op[:file][:thumb_w], height: op[:file][:thumb_h] }
    .body
      %p= op[:body]
  - if posts
    - posts.each do |post| 
      .post.reply{ id: "p#{post[:id]}" }
        - if post[:file]
          %figure
            %a{ href: "/src/#{post[:file][:src]}" , target: '_blank' }<
              %img{ src: "/thumb/#{post[:file][:thumb]}",
                title: post[:file][:name],
                width: post[:file][:thumb_w],
                height: post[:file][:thumb_h] }
        .info
          = succeed "&#x000A;" do
            %span.name= post[:name]
            %span.time= post[:time].strftime "%Y/%m/%d %H:%M:%S"
          %a.id{ href: "#{url}#p#{post[:id]}" }> &#8470;
          %a.id.postnum{ onclick: "quote(#{post[:id]})" }= "#{post[:id]}"
        %hr
          .body<
            %p= post[:body]
%hr
#qr-spawner
  %a{ onclick: 'spawn_qr();' } +
/%noscript
= haml :form, locals: { id: url, page: op[:id] }
